<div fxLayout="column" fxLayoutGap="10px">
    <mat-accordion *ngFor="let user of checkedUsers;trackBy: trackByFn">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <img src="{{user.avatar_url}}" class="search-avatar" alt="user">
                </mat-panel-title>
                <mat-panel-description>
                    {{user.login}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-user-detail [user]="user"></app-user-detail>
        </mat-expansion-panel>
    </mat-accordion>
</div>
