//background: linear-gradient(to bottom, #2fc752, #269f42);
.auth {
    margin-top: 5%;
    .header-image {
        height: 60px;
        width: 60px;
        background-image: url('../../../../../assets/github-logo.png');
        background-size: cover;
    }
}
