<mat-toolbar color="primary" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <a class="logo" matLine routerLink="/search">Git Service</a>
    </div>
    <div>
        <div *ngIf="user">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
                <a matLine routerLink="/profile" color="warn">{{user.username}}</a>
                <button mat-mini-fab color="warn" (click)="openDialog()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="!user">
            <a matLine routerLink="/auth" color="primary">Sign In</a>
        </div>
    </div>
</mat-toolbar>


