mat-table {
  width: 100%;

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .ellipsis:hover {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    height: auto;
  }

  img {
    width: 30px;
    height: 30px;
  }
}
