.container {
    height: 50vh;
}


mat-table {
    width: 100%;

    mat-cell {
        cursor: pointer;
    }

    .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .ellipsis:hover {
        overflow: visible;
        text-overflow: clip;
        white-space: normal;
        height: auto;
    }

}


