.container {
    height: 50vh;
}

form {
    mat-icon {
        cursor: pointer;
    }
}

mat-table {
    width: 100%;

    a {
        color: black;
    }

    mat-cell {
        cursor: pointer;
    }

    .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .ellipsis:hover {
        overflow: visible;
        text-overflow: clip;
        white-space: normal;
        height: auto;
    }

}


